<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bienvenido a la página</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
              font-family: 'Georgia', sans-serif;
            background-color: #F3F6FD !important;
        }

        .container {
            text-align: center;
            margin-top: 50px;
        }


        .text-justify {
            text-align: justify;
        }

        .text-left {
            text-align: left;
        }

        .mb-4 {
            margin-bottom: 1.5rem;
        }

        .mt-4 {
            margin-top: 1.5rem;
        }


    </style>

</head>


<body >

<div class="container mt-5 mb-5">
    <h1 class="mb-4">Club Alemán</h1>

    <h2 class="mb-4 text-left">Historia</h2>




    <p class="mb-4 text-justify">
        El club tuvo sus modestos inicios el 26 de junio de 1999, cuando trece audaces matrimonios decidieron unirse para dar origen a una nueva pasión: EL DEPORTE, el Handball y el Fútbol, los deportes que cautivaron a este grupo visionario. Compartían el anhelo de disfrutar de momentos deportivos y sociales en conjunto, forjando así el inicio de una nueva era en el club.
    </p>
    <p class="mb-4 text-justify">
        Inicialmente centrado en el Handball y el Fútbol, el club experimentó una transformación significativa con la incorporación de los familiares de los fundadores. Este paso marcó un cambio en la dinámica, abriendo las puertas a una comunidad más amplia y diversa. La práctica intensiva del Handball y el Fútbol se convirtió en el corazón deportivo del club.
    </p>











    <h2 class="mb-4 text-left">Quienes somos</h2>




    <p class="mb-4 text-justify">
        Ofrecemos a nuestros socios las mejores opciones de deportes.
        Contamos con unas completas instalaciones y con un amplio y variado calendario de eventos y actividades para todos los gustos y edades.


    </p>
    <p class="mb-4 text-justify">
        El Club Deportivo Alemán a casi un siglo de historia, puede presumir que continúa siendo un club vivo, tanto en lo deportivo como en lo social.

        Nuestra historia la forman miles de personas, los socios y familias que han compartido con nosotros su ilusión, sus retos, su trabajo y, sobre todo su amistad.

        Estamos muy orgullosos de nuestras instalaciones, de nuestro personal y de nuestras gestas deportivas. Pero lo que más nos enorgullece son sin duda nuestros socios.
    </p>

















</div>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6">
                <div class="card">

                    <img th:src="@{../imagen/futbol.png}" class="card-img-top" alt="Imagen de Fútbol">
                    <div class="card-body bg-info">
                        <h5 class="card-title ">Práctica de Handball</h5>
                        <p class="mb-4 text-justify">
                             Prof. Luciana Lopilato. Lunes a Jueves 18: 00 a 19:30hs
                        </p>
                        <a href="/hamball" class="btn btn-primary btn-block">Ir </a>
                    </div>
                </div>
            </div>





            <div class="col-md-6">
                <div class="card" >
                    <img th:src="@{../imagen/Hambal.png}" class="card-img-top" alt="Imagen de Fútbol">

                    <div class="card-body bg-info">
                        <h5 class="card-title">Práctica de Fútbol</h5>
                        <p class="mb-4 text-justify">
                            Fútbol Prof. Daniel Espinola. Lunes a Jueves 17: 00 a 19:00hs
                        </p>

                        <a href="/futbol" class="btn btn-primary btn-block">Ir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>









<!-- Agregar el enlace a Bootstrap JS y Popper.js (requerido para algunos componentes de Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
