<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Bienvenido a la página</title>
    <style>
        body {
            background-color:  #FFA500  !important;
        }

        .container {
            text-align: center;
            margin-top: 50px; /* Espacio superior */

        }
    </style>
</head>


<body class="bg-light">

<div class="container mt-5 mb-5">
    <h1 class="mb-4">Bienvenido al Club Alemán</h1>

    <h2 class="mb-4 text-left">Historia</h2>




    <p class="mb-4 text-justify">
        El club tuvo sus modestos inicios el 26 de junio de 1999, cuando trece audaces matrimonios decidieron unirse para dar origen a una nueva pasión: EL DEPORTE, el Handball y el Fútbol, los deportes que cautivaron a este grupo visionario. Compartían el anhelo de disfrutar de momentos deportivos y sociales en conjunto, forjando así el inicio de una nueva era en el club.
    </p>
    <p class="mb-4 text-justify">
        Inicialmente centrado en el Handball y el Fútbol, el club experimentó una transformación significativa con la incorporación de los familiares de los fundadores. Este paso marcó un cambio en la dinámica, abriendo las puertas a una comunidad más amplia y diversa. La práctica intensiva del Handball y el Fútbol se convirtió en el corazón deportivo del club.
    </p>









    <h3 class="mt-4 text-left">Prácticas Disponibles</h3>

    <ul class="list-group">
        <li class="list-group-item" style="max-width: 200px;"><a href="/hamball"> Handball</a></li>
        <li class="list-group-item" style="max-width: 200px;"><a href="/futbol">Fútbol</a></li>
    </ul>



</div>



<!-- Agregar el enlace a Bootstrap JS y Popper.js (requerido para algunos componentes de Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
